.wrapper{
    border: 3px solid red ;
    padding:10px;
    display:flex;
    
}
.first{
    background-color:green;
    margin:10px;
    padding:10px;
}
.second{
    background-color:blueviolet;
    margin:10px;
    padding:10px;
}

.third{
    background-color:yellow;
    margin:10px;
    padding:10px;
}

.forth{
    background-color:orangered;
    margin:10px;
    padding:10px;
}
.fifth{
    background-color:burlywood;
    margin:10px;
    padding:10px;
}
