body{
    background-color:seagreen;
}
.fine1{
    margin: 32px;
    background-color:orangered;
    height: 200px;
    width: 200px;
}
.fine2{
    background-color:blue;
}
.fine3{
    background-color:yellowgreen;
}
